@import 'general';

nav {
  background-color: $nav-background-color;

  li {
    display: inline-block;
    list-style-type: none;

    a {
      color: $nav-color;
      display: block;
      padding: 20px;
      text-decoration: none;
    }

    :hover {
      background-color: $nav-hover-background-color;
    }

    .activeNavSection {
      background-color: $nav-active-background-color;
    }
  }
}
